.body{
    /* background-image: url("background.jpg"); 
    background-size: auto;
    background-repeat: no-repeat;
     */

    display: grid;
    grid-template-areas: 
        "h h h h h h h h"
        "b . . . . . . ."
        "r . . f . . . ."
        "e e e . . . . ."
        ". . . . . . . .";
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-row-gap: 3px;
    grid-column-gap: 10px;
    height:100%;
    margin: 0;
}
header, footer, article, nav, div{
    color:black;
   
    padding: 1.2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.pageHeader{
    grid-area: h;
    font-size: 20px;
    text-align: right;
    padding: 5px;
    
}
.bodoni{
    grid-area: b;
    position: absolute;
}
.form{
    grid-area: f;
    position: absolute;
    padding-left: 55%;
    border: #33a59a;
}
.exlibris{
    grid-area: e;
    position: relative;
    padding-left: 58%;
    padding-top: 31%;
}

.futura{
    position: relative;
    padding: 30px;
    padding-top: -60%;
}
img { 
    border:3px solid #8b473e;
 }


    
    



.button-one {
    background: #dfbf58;
}
.button-two {
    background: #8b473e;
}
.button-three {
    background: #33a59a;
}
.button-one,
.button-two,
.button-three {
    color: #1d1d1d;
    display: inline-block;
    border-radius: 0;
    padding: 10px 18px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1px;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    position: relative;
}
.button-one:hover,
.button-two:hover,
.button-three:hover {
    background: #fff;
}